.header{
    width: 1320px;
    height: 600px;
    background-image: url('baanner.png');
    background-repeat: no-repeat;
    background-size: 1000px;  
    border-radius: 16px;  
    text-align: center;
    background-position: top center;
} 
.header h4{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    line-height: normal; 
}
.header h3{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    line-height: normal;
}
.blog .off{
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
    line-height: normal;
}
.our{
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
}
.all{
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
}
#ha{
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
}
.we{
    background-image: url('Vectorrr.png');
    background-position: top left;
    background-size: 900px;
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    justify-content: space-between;
}

.we h4{
    color: #FFF;
    width: 642px;
    height: 176px;
    text-align: center;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
    margin: 15px;
}
.we p{
    width: 697px;
    height: 60px;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 15px;
}
.we span{
    color: #FFF;
    background-color: none;
    text-align: right center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 40px;
}
.sp{
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; /* 175% */
    text-transform: capitalize;
    padding: 100px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
}
.spb{
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.sec{
    width: 1600px;
    background: #fff8f3;
    justify-content: space-between;
}
.div-title{
    color: #F00;
    text-align: left;
    font-size: 24px;
    font-weight: 500;
    margin: 15px;
}
.div-sec{
    color: #070211;
    font-size: 48px;
    text-transform: capitalize;
    margin: 15px;
}
.pa-1{
    width: 393px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
    margin: 15px;
}
.sec .im-1{
    width: 364.844px;
    height: 364.844px;
    flex-shrink: 0;
    margin: 1px auto;
    display: block;
}
.yr{
    color: #F00;
    font-size: 48px;
    font-weight: 700;
    text-align: right;
    margin: 15px;
}
.pa-2{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: right;
    margin: 10px;
}
 .sec .im-2{
    width: 140px;
    height: 140px;
    flex-shrink: 0;
    display: block;    
} 
.section{
    width: 1600px;
    height: 4000px;
    background: #FFF;
    
}
.section h5{
    color: #070211;
font-family: Inter;
font-size: 24px;
font-weight: 500;
text-align: center;
margin-bottom: 10px;
}
.section h4{
    color: #070211;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    padding-bottom: 10px;
    padding-top: 0px;
    
}
.section p{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
   font-size: 20px;
   font-weight: 500;
   line-height: 32px; /* 160% */
}
.img-3{ 
    width: 206.841px;
    height: 206.841px;
    margin-left: 50px;
} 
.img-4{
    width: 429px;
    height: 433px;
    flex-shrink: 0;
    border-radius: 16px 16px 0px 0px;
}
.img-5{
    width: 500px;
    height: 400px;
    margin: 200px;
}
.dv{
    margin: 200px;
}

.dv h5{
    width: 192px;
    height: 29px;
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.dv h4{
    width: 566px;
    height: 60px;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}
.dv p{
    width: 896px;
    height: 64px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
}
.img-6{
    width: 424px;
    height: 450px;
    flex-shrink: 0;
    border-radius: 16px;
}
.img-7{
    width: 424px;
    height: 450px;
    flex-shrink: 0;
    border-radius: 16px;
}
.img-8{
    width: 424px;
    height: 450px;
    flex-shrink: 0;
    border-radius: 16px;
}
.img-9{
    width: 424px;
    height: 450px;
    flex-shrink: 0;
    border-radius: 16px;
}
.img-10{
    width: 424px;
    height: 450px;
    flex-shrink: 0;
    border-radius: 16px;
}
.img-11{
    width: 424px;
    height: 450px;
    flex-shrink: 0;
    border-radius: 16px;
}
.end{
    width: 1320px;
    height: 616px;
    flex-shrink: 0;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    align-items: center;
    margin: 200px;
}
.mail-box{
    width: 10%;
    flex-shrink: 0;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.end h4{
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 900;
}
.end p{
    color: rgba(7, 2, 17, 0.60);
    text-align: center; 
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; /* 160% */
}

 .contact{
    width: 648px;
   height: 72px;
   flex-shrink: 0;
   border-radius: 50px;
   background: #FFF; 
   text-align: center;
}
.user{  
     width: 141px;
     height: 22px;
     color: rgba(7, 2, 17, 0.30);
     text-align: left;
     font-size: 18px;
     font-weight: 400;
     margin-left: 15px;
}
.oi{
    width: 210px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    text-align: center;
}
footer{
    width: 1600px;
    height: 609px;
    flex-shrink: 0;
    background: #070211;
}
.address{
    width: 375px;
    height: 80px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 166.667% */
    margin: 40px;
    margin-top: 50px;
}
.call{
    margin: 40px;
}
.call img{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}
.call p{
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px; /* 166.667% */
}
.social-links a{
    margin: 20px;
    margin-right: 25px;
}
.copy{
    color: #FFF;
    margin-top: 30px;
    text-align: center;
}
